{% extends "base.html" %}

{% block header %}
<div class="page-header">
  <h1>
	Create document
	<a href="{% url done %}" style="float:right" class="btn">Back</a>
  </h1>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/editor.js"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}markitup/skins/markitup/style.css" />
<style type="text/css">
  {% include "markitup.css" %}
</style>
{% endblock %}

{% block content %}
<p>
<form class="well" action="{% url create_document %}" method="post">{% csrf_token %}
  <div>
	{{ form.as_p }}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</p>
{% endblock %}
