{% extends "base.html" %}

{% block header %}
<div class="page-header">
  <h1>
	Create document
  </h1>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}markdown/jquery.markitup.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/editor.js"></script>
{% endblock %}

{% block styles %}
<style type="text/css">
  {% include "markitup.css" %}
</style>
{% endblock %}

{% block content %}
<p>
<form class="well" action="{% url create_document %}" method="post">{% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</p>
{% endblock %}
