{% extends "base.html" %}

{% block header %}
<div class="page-header">
  <h1>
	Your documents
	<a class="btn" style="float: right" rel="nofollow" href="{% url create_document %}">Create document</a>
  </h1>
</div>
{% endblock%}

{% block content %}
<table class="table table-striped">
  <thead>
	<tr>
	  <th>Subject</th>
	  <th>Date</th>
	</tr>
  </thead>
  <tbody>
	{% for doc in owned_docs %}
	<tr>
	  <td><a href="{% url show_document doc.id %}">{{ doc.subject }}</a></td>
	  <td>{{ doc.date }}</td>
	  <td>
		<div style="float:right" class="btn-group">
		  <a class="btn" href="{% url show_document doc.id %}">Show</a>
		  <a class="btn" href="{% url edit_document doc.id %}">Edit</a>
		  <a class="btn" href="{% url share_document doc.id %}">Share</a>
		  <a class="btn" href="#">History</a>
		  <a class="btn" href="{% url delete_document doc.id %}">Delete</a>
		</div>
	  </td>
	</tr>
	{% endfor %}
  </tbody>
</table>
{% endblock %}
