{% extends "base.html" %}

{% block content %}
<div class="hero-box">
  <h2>
	{{ user.username }} 
	{% if user.first_name and user.last_name %}
	({{ user.first_name }} {{ user.last_name }})
	{% endif %}
  </h2>
  <table class="table">
    <tr><th>Email:</th> <td>{{ user.email|default:"Not provided" }}</td></tr>
    <tr><th>Last login backend:</th> <td>{{ last_login }}</td></tr>
  </table>
</div>
<h1>
  Your documents
  <a class="btn" style="float: right" rel="nofollow" href="{% url create_document %}">Create document</a>
</h1>
<table class="table table-striped">
  <thead>
	<tr>
	  <th>Subject</th>
	  <th>Date</th>
	</tr>
  </thead>
  <tbody>
  {% for doc in owned_docs %}
  <tr>
	<td><a href="{% url show_document doc.id %}">{{ doc.subject }}</a></td>
	<td>{{ doc.date }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<h1>Documents shared with you</h1>
<p></p>
{% endblock %}
