{% extends "base.html" %}

{% block header %}
<div class="page-header">
  <h1>
	{% if doc %}
	Edit document: {{ doc.subject }}
	<a href="{% url show_document doc.id %}" style="float:right" class="btn">Show document</a>
	{% else %}
	Create document
	{% endif %}
  </h1>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="{{ STATIC_URL }}markdown/jquery.markitup.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/editor.js"></script>
{% endblock %}

{% block styles %}
<style type="text/css">
  {% include "markitup.css" %}
</style>
{% endblock %}

{% block content %}
{% if diff_warning %}
<p class="alert">
  Someone edited this document during your editing!
</p>
<h3>Differences:</h3>
<pre>
  {{ diff }}
</pre>
{% endif %}
<p>
<form class="well" action="{% if doc %}{% url edit_document doc.id %}
						   {% else %}{% url create_document %}{% endif%}" method="post">{% csrf_token %}
  {{ form.as_p }}
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</p>
<h3>Current content:</h3>
<pre>
  {{ cur_content }}
</pre>

{% endblock %}
