{% extends "base.html" %}
{% block content %}
<script type="text/javascript" src="{{ STATIC_URL }}js/tiny_mce/jquery.tinymce.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/editor.js" ></script>

<form method="post" action="/" 
	  >
  <div >
	<textarea id="tinymceEditor" name="tinymceEditor" rows="15" cols="80" class="tinymce"></textarea>
	  
	<br />
	<input type="submit" name="save" value="Submit" />
	<input type="reset" name="reset" value="Reset" />
  </div>
</form>
{% endblock %}
