{% extends "base.html" %}

{% block header %}
<div class="page-header">
  <h1>
	Sharing: {{ doc.subject }}
	<a href="{% url show_document doc.id %}" style="float:right" class="btn">Back</a>
  </h1>
</div>
{% endblock %}

{% block content %}
<p>
<form class="well" action="{% url share_document doc.id %}" method="post">{% csrf_token %}
  <div>
	{{ form.as_p }}
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  {% if success %}
  <span class="alert alert-success">Settings updated successfully!</span>
  {% endif %}
</form>
</p>
{% endblock %}
